* {margin: 0; padding: 0;}

ul {list-style: none;}

a:link, a:visited {
    text-decoration: none;
    color: #333;
}

/*첫페이지*/
#wrap .section1 {
    width: 100%;
    height: 100vh;
}
#wrap .section1 img {
    width: 100%;
    height: 100%;
}


/* 프로필 */
#wrap .section2 {
    width: 100%;
    height: 100vh;
    background-color: white;
}
.section2 .section_wrap {
    width: 1200px;
    height: 100%;
    margin: auto;
}
.section2 .about {
    width: 1200px;
    height: 20%;
    /* background-color: beige; */
}
.section2 .about h1 {
    text-align: center;
    font-size: 40px;
    transform: translatey(100%);
}

.section2 .page_wrap {
    width: 1200px;
    height: 80%;
    display: flex;
}
.section2 .page1 {
    width: 600px;
    position: relative;
    /* background-color: red; */
}
.section2 .page1 h3 {
    position: absolute;
    z-index: 3;
    top: 104px;
    left: 310px;
    font-size: 30px;
}
.section2 .page1 img {
    position: absolute;
    z-index: 3;
    left: 72px;
    top: 58px;
    width: 200px;
}

.section2 .page1 .profile {
    width: 600px;
    position: absolute;
    z-index: 3;
    top: 166px;
    left: 310px;
    /* background-color: aqua; */
}

.page1 .profile p {
    text-align: left;
    height: 30px;
    line-height: 30px;
    font-size: 17px;
}

.section2 .page2 {
    width: 600px;
    /* background-color: aqua; */
    padding-left: 10px;
}
.section2 .page2 .experience {
    width: 600px;
    height: 33%;
    /* background-color: blueviolet; */
}
.page2 .experience h3 {
    text-align: left;
    font-size: 23px;
    padding-bottom: 15px;
    padding-top:15px;
}
.page2 .experience p {
    text-align: left;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
}

.section2 .page2 .license {
    width: 600px;
    height: 26%;
    /* background-color: brown; */
}
.page2 .license h3 {
    text-align: left;
    font-size: 23px;
    padding-bottom: 15px;
}
.page2 .license p {
    text-align: left;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
}

.section2 .page2 .skills {
    width: 600px;
    height: 40%;
    /* background-color: cadetblue; */
}
.page2 .skills h3 {
    text-align: left;
    font-size: 23px;
    padding-bottom: 15px;
}
.page2 .skills ul {
    width: 100%;
    display: flex;
    position: relative;
}
.page2 .skills li:nth-child(1) {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 90px;
}
.page2 .skills li:nth-child(1) img {
    width: 100%;
}

.page2 .skills li:nth-child(2) {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 116px;
    width: 90px;
}
.page2 .skills li:nth-child(2) img {
    width: 100%;
}

.page2 .skills li:nth-child(3) {
    position: absolute;
    z-index: 3;
    top: -12px;
    left: 233px;
    width: 80px;
}
.page2 .skills li:nth-child(3) img {
    width: 100%;
}

.page2 .skills li:nth-child(4) {
    position: absolute;
    z-index: 3;
    top: -8px;
    left: 335px;
    width: 80px;
}
.page2 .skills li:nth-child(4) img {
    width: 100%;
}


/* 웹페이지 */
#wrap .section3 {
    width: 100%;
    height: 100vh;
    background-color: white;
}
.section3 .section_web {
    width: 1300px;
    height: 100%;
    margin: auto;
}
.section_web .website {
    width: 1300px;
    height: 10%;
}
.section_web .website h1 {
    text-align: center;
    font-size: 40px;
}
.web_page {
    width: 1200px;
    height: 90%;
    margin: auto;
    /* background-color: aqua; */
}
.swiper {
    width: 100%;
    height: 100%;
  }
  
.swiper-wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
}

.swiper-slide img {
    display: block;
    width: 60%;
    margin: 30px auto;
}

.swiper-button-next,
.swiper-button-prev {
    color: #888;
}

.swiper-slide div {
    width: 70%;
    margin: auto;
    text-align: center;
}
.swiper-slide p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    letter-spacing: 5px;
    padding-bottom: 10px;
}
.swiper-slide p:nth-child(2) {
    font-size: 17px;
    color: #555;
    padding-bottom: 20px;
}
.swiper-slide p:nth-child(3) {
    border: 1px solid #999;
    width: 154px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #333;
    letter-spacing:5px;
    font-size: 18px;
    margin: auto;
  }



/* 디자인페이지 */
#wrap .section4 {
    width: 100%;
    height: 100vh;
    background-color:white;
}
#wrap .section4 .section_design {
    width: 1200px;
    height: 100%;
    margin: auto;
}
.section4 .section_design .design_box {
    width: 1200px;
    height: 10%;
    /* background-color: gray; */
}
.section_design .design_box h1 {
    text-align: center;
    font-size: 40px;
}
.section_design .design_page {
    width: 1200px;
    height: 90%;
    /* background-color: aqua; */
}
.design_page ul {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 45px 10px 0 10px;
}

.design_page li {
    width: 27%;
    height: 250px;
    margin-bottom: 40px;
}

.design_page li a img {
    width: 100%;
    height: 100%;
}


.modal1, .modal2, .modal3, .modal4, .modal5, .modal6 {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
}
.modal-content {
    background-color: #fff;
    width: auto;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 35px 20px 20px 20px;
    text-align: center;
    box-sizing: border-box;
}
.modal-content img {
    width: 100%;
    height: 100%;
}
.btn-close {
    position: absolute;
    top: 7px;
    right: 15px;
}


/* 마지막페이지 */
#wrap .section5 {
    width: 100%;
    height: 100vh;
} 

.section5-image {
    width: 100%;
    height: 100%;
    position: relative;
}

.section5-image img {
    width: 100%;
    height: 100%;
}
.section5-text {
    position: absolute;
    z-index: 5;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section5-text p {
    font-size: 100px;
}