* {margin: 0; padding: 0;}

ul {list-style: none;}

a:link, a:visited {
    text-decoration: none;
    color: #333;
}

/*첫페이지*/
.wrap .section1 {
    width: 100%;
    height: 100vh;
    background-color: #f4e9d3;
}
.section1_inner {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #f4e9d3;
}

.section1_inner p:nth-child(1) {
    position: absolute;
    z-index: 3;
    font-size: 85px;
    letter-spacing: 5px;
    font-weight: 600;
    top: 365px;
    left: 120px;
    color: #ea7414;
}
.section1_inner p:nth-child(2) {
    position: absolute;
    z-index: 3;
    font-size: 16px;
    letter-spacing: 2px;
    bottom: 135px;
    left: 120px;
    color: #654200;
}
.section1_inner p:nth-child(3) {
    position: absolute;
    z-index: 3;
    font-size: 18px;
    bottom: 100px;
    left: 120px;
    font-weight: 400;
    color: #654200;
   
}
.section1_inner p:nth-child(4) {
    position: absolute;
    z-index: 3;
    font-size: 15px;
    letter-spacing: 1px;
    bottom: 100px;
    right: 100px;
    color: #654200;
}

/* 컨텐츠 */
.section2 {
    height: 100vh;
    background-color: #fff7e7;
}
.section2_inner {
    width: 1400px;
    height: 100%;
    margin: auto;
    position: relative;
    background-color: #fff7e7;
}
.contents {
    position: absolute;
    z-index: 3;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 600;
    top: 280px;
    right: 360px;
    color: #ea7414;
}
.publishing_box {
    position: absolute;
    z-index: 3;
    top: 400px;
    right: 430px;
}
.publishing_box li:first-child {
    font-size: 16px;
    padding-bottom: 15px;
}
.publishing_box li {
    font-size: 13px;
    letter-spacing: 1px;
    padding-bottom: 8px;
    color: #654200;
}

.design_box {
    position: absolute;
    z-index: 3;
    top: 400px;
    right: 220px;
}
.design_box li:first-child {
    font-size: 16px;
    padding-bottom: 15px;
}
.design_box li {
    font-size: 13px;
    padding-bottom: 8px;
    color: #654200;
}


/* 웹페이지 */
#wrap .section3 {
    width: 100%;
    background-color:white;
}
.section3 .section_web {
    width: 1300px;
    margin: auto;
}
.section_web .website {
    width: 1300px;
    height: 10%;
    margin-top: 50px;
    margin-bottom: 100px;
}
.section_web .website h1 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
}
.web_page {
    width: 1200px;
    margin: auto;
}
.swiper {
    width: 100%;
    height: 100%;
  }
  
.swiper-wrapper {
    width: 100%;
    height: 100%;
    /* margin: auto; */
}
.swiper-slide {
    width: 1200px;
    height: 100%;
    margin: auto;
}

.imgclick {
    display: block;
    width: 40%;
    margin: 0 auto 40px;
}
.imgclick img {
    width: 100%;
    height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    color: #888;
}

.swiper-slide div {
    width: 70%;
    margin: auto;
    text-align: center;
}
.swiper-slide .dunkin_color{
    font-size: 30px;
    font-weight: bold;
    color: #fc7d39;
    letter-spacing: 3px;
    padding-bottom: 20px;
}
.swiper-slide .amuse_color{
    font-size: 30px;
    font-weight: bold;
    color: #f06f6f;
    letter-spacing: 5px;
    padding-bottom: 20px;
}

.swiper-slide p:nth-child(2) {
    font-size: 15px;
    color: #555;
    padding-bottom: 5px;
}
.swiper-slide p:nth-child(3) {
    font-size: 13px;
    color: #555;
    padding-bottom: 5px;
}
.swiper-slide p:nth-child(4) {
    font-size: 13px;
    color: #555;
    padding-bottom: 23px;
}

.swiper-slide .btn {
    display: block;
    border: 1px solid #999;
    width: 150px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #333;
    letter-spacing:5px;
    font-size: 17px;
    margin: auto;
  }



/* 디자인페이지 */
#wrap .section4 {
    width: 100%;
    background-color:white;
}
.section_design {
    width: 1100px;
    margin: 0 auto;
}

.design_page {
    width: 1100px;
    margin: 0 auto;
    
}
.design_page ul {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 100px;
}
.design_page li {
    width: 28%;
    margin-bottom: 50px;
    display: inline-block;
    
}
.design_page li a img {
    width: 100%;
    height: 100%;
}
.modal-notice1, .modal-notice2, .modal-notice3, .modal-notice4, .modal-notice5, .modal-notice6 {
    display: block;
    width: auto;
}

.screen {
    position: relative;
    overflow: hidden;
}
.screen .top {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    line-height: 350px;
    text-align: center;
    opacity: 0;
    transition: 0.2s;
}
.modal-notice1:hover .top{
    opacity: 1;
}
.modal-notice2:hover .top{
    opacity: 1;
}
.modal-notice3:hover .top{
    opacity: 1;
}
.modal-notice4:hover .top{
    opacity: 1;
}
.modal-notice5:hover .top{
    opacity: 1;
}
.modal-notice6:hover .top{
    opacity: 1;
}
/* .modal-notice1:hover .top {
    top: 50%;
    transition: 0.3s;
}
.screen::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: 0.3s;
    color: #fff;
}
.modal-notice1:hover .screen::after {
    opacity: 1;
} */




.modal1, .modal2, .modal3, .modal4, .modal5, .modal6 {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
}
.modal-content {
    background-color: #fff;
    width: auto;
    height: 92%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 35px;
    text-align: center;
    box-sizing: border-box;
}
.modal-content img {
    width: auto;
    height: 100%;
   
}
.modal-content img:first-child {
    height: 100%;
    border: 1px solid black;
 }

.btn-close {
    position: absolute;
    top: 7px;
    right: 15px;
}


/* 마지막페이지 */
.wrap .section5 {
    height: 160px;
    background-color: #f4e9d3;
} 
.section5_inner {
    width: 1400px;
    height: 100%;
    background-color: #f4e9d3;
    margin: 0 auto;
}
.section5_text {
   padding: 55px 0;
}
.section5_text p {
    text-align: center;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    font-weight: bold
    
}

