* {margin: 0; padding: 0;}

ul {list-style: none;}

a:link, a:visited {
    text-decoration: none;
    color: #333;
}

/*첫페이지*/
#wrap .section1 {
    height: 100vh;
}
.main {
    width: 100%;
    height: 100vh;
    background-color: #dcd3cb;
    position: relative;
}
.main p:nth-child(1) {
    position: absolute;
    z-index: 3;
    font-size: 85px;
    letter-spacing: 5px;
    font-weight: 600;
    top: 365px;
    left: 100px;
}
.main p:nth-child(2) {
    position: absolute;
    z-index: 3;
    font-size: 16px;
    letter-spacing: 2px;
    bottom: 135px;
    left: 100px;
}
.main p:nth-child(3) {
    position: absolute;
    z-index: 3;
    font-size: 18px;
    bottom: 100px;
    left: 100px;
    font-weight: 400;
   
}
.main p:nth-child(4) {
    position: absolute;
    z-index: 3;
    font-size: 15px;
    letter-spacing: 1px;
    bottom: 100px;
    right: 100px;
}

/* 프로필 */
#wrap .section2 {
    width: 100%;
    height: 100vh;
    background-color: white;
}
.section2 .section_wrap {
    width: 1200px;
    height: 100%;
    margin: auto;
}
.section2 .about {
    width: 1200px;
    height: 20%;
}
.section2 .about h1 {
    text-align: center;
    font-size: 40px;
    transform: translatey(100%);
    letter-spacing: 1px;
}

.section2 .page_wrap {
    width: 1200px;
    height: 80%;
    display: flex;
}
.section2 .page1 {
    width: 600px;
    position: relative;
}
.section2 .page1 h3 {
    position: absolute;
    z-index: 3;
    top: 104px;
    left: 310px;
    font-size: 30px;
}
.section2 .page1 img {
    position: absolute;
    z-index: 3;
    left: 72px;
    top: 58px;
    width: 200px;
}

.section2 .page1 .profile {
    width: 600px;
    position: absolute;
    z-index: 3;
    top: 166px;
    left: 310px;
    /* background-color: aqua; */
}

.page1 .profile p {
    text-align: left;
    height: 30px;
    line-height: 30px;
    font-size: 17px;
}

.section2 .page2 {
    width: 600px;
    padding-left: 10px;
}
.section2 .page2 .experience {
    width: 600px;
    height: 33%;
}
.page2 .experience h3 {
    text-align: left;
    font-size: 23px;
    padding-bottom: 15px;
    padding-top:15px;
}
.page2 .experience p {
    text-align: left;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
}

.section2 .page2 .license {
    width: 600px;
    height: 26%;
}
.page2 .license h3 {
    text-align: left;
    font-size: 23px;
    padding-bottom: 15px;
}
.page2 .license p {
    text-align: left;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
}

.section2 .page2 .skills {
    width: 600px;
    height: 40%;
}
.page2 .skills h3 {
    text-align: left;
    font-size: 23px;
    padding-bottom: 15px;
}
.page2 .skills ul {
    width: 100%;
    display: flex;
    position: relative;
}
.page2 .skills li:nth-child(1) {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 90px;
}
.page2 .skills li:nth-child(1) img {
    width: 100%;
}

.page2 .skills li:nth-child(2) {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 116px;
    width: 90px;
}
.page2 .skills li:nth-child(2) img {
    width: 100%;
}

.page2 .skills li:nth-child(3) {
    position: absolute;
    z-index: 3;
    top: -12px;
    left: 233px;
    width: 80px;
}
.page2 .skills li:nth-child(3) img {
    width: 100%;
}

.page2 .skills li:nth-child(4) {
    position: absolute;
    z-index: 3;
    top: -8px;
    left: 335px;
    width: 80px;
}
.page2 .skills li:nth-child(4) img {
    width: 100%;
}


/* 웹페이지 */
#wrap .section3 {
    width: 100%;
    background-color:white;
}
.section3 .section_web {
    width: 1300px;
    margin: auto;
}
.section_web .website {
    width: 1300px;
    height: 10%;
    margin-top: 50px;
    margin-bottom: 100px;
}
.section_web .website h1 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
}
.web_page {
    width: 1200px;
    margin: auto;
}
.swiper {
    width: 100%;
    height: 100%;
  }
  
.swiper-wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
}

.swiper-slide img {
    display: block;
    width: 40%;
    margin: 0 auto 40px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #888;
}

.swiper-slide div {
    width: 70%;
    margin: auto;
    text-align: center;
}
.swiper-slide .dunkin_color{
    font-size: 30px;
    font-weight: bold;
    color: #fc7d39;
    letter-spacing: 3px;
    padding-bottom: 20px;
}
.swiper-slide .amuse_color{
    font-size: 30px;
    font-weight: bold;
    color: #f06f6f;
    letter-spacing: 5px;
    padding-bottom: 20px;
}

.swiper-slide p:nth-child(2) {
    font-size: 15px;
    color: #555;
    padding-bottom: 5px;
}
.swiper-slide p:nth-child(3) {
    font-size: 13px;
    color: #555;
    padding-bottom: 20px;
}

.swiper-slide .btn {
    display: block;
    border: 1px solid #999;
    width: 150px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #333;
    letter-spacing:5px;
    font-size: 17px;
    margin: auto;
  }



/* 디자인페이지 */
#wrap .section4 {
    width: 100%;
    background-color:white;
}
.section_design {
    width: 1200px;
    margin: auto;
}

.design_page {
    width: 1200px;
    
}
.design_page ul {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 100px;
}
.design_page li {
    width: 28%;
    margin-bottom: 50px;
    display: inline-block;
}
.modal-notice1, .modal-notice2, .modal-notice3, .modal-notice4, .modal-notice5, .modal-notice6 {
    display: block;
    width: auto;
}

.screen {
    position: relative;
    overflow: hidden;
}
.screen .top {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    line-height: 350px;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
}
.modal-notice1:hover .top{
    opacity: 1;
}
.modal-notice2:hover .top{
    opacity: 1;
}
.modal-notice3:hover .top{
    opacity: 1;
}
.modal-notice4:hover .top{
    opacity: 1;
}
.modal-notice5:hover .top{
    opacity: 1;
}
.modal-notice6:hover .top{
    opacity: 1;
}
/* .modal-notice1:hover .top {
    top: 50%;
    transition: 0.3s;
}
.screen::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: 0.3s;
    color: #fff;
}
.modal-notice1:hover .screen::after {
    opacity: 1;
} */


.design_page li a img {
    width: 100%;
    height: 100%;
   
}

.modal1, .modal2, .modal3, .modal4, .modal5, .modal6 {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
}
.modal-content {
    background-color: #fff;
    width: auto;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 35px 20px 20px 20px;
    text-align: center;
    box-sizing: border-box;
}
.modal-content img {
   height: 100%;
}
.btn-close {
    position: absolute;
    top: 7px;
    right: 15px;
}


/* 마지막페이지 */
#wrap .section5 {
    width: 100%;
} 

.section5_box {
    width: 100%;
    height: 150px;
    background-color: #dcd3cb;
}
.section5_text {
    padding-top: 65px;
}
.section5_box p {
    font-size: 13px;
    text-align: center;
    /* color: white; */
    font-weight: bold;
}